            <!-- Footer -->
<footer id="footer">
    <div class="pattern-overlay">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one wow fadeIn">
                        <h3 class="light">About</h3>
                        <p>
                            Kevin Sharp Training is a training and consultancy company specialized on high-quality technical trainings focusing on the Microsoft .NET technologies and open web standards like HTML, CSS and JavaScript.
                        </p>
                    </section>
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two wow fadeIn">
                        <h3 class="light">Twitter Stream</h3>
                        @*<ul id="tweets"></ul>*@
                    </section>
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three wow fadeIn">
                        <h3 class="light">Contact me</h3>
                        <ul class="contact-us">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <p>
                                    <strong class="contact-pad">Address:</strong>
                                    2220 Meridian Blvd<br />
                                    Unit #4731 <br />
                                    Minden, NV 89423<br />
                                    United States<br />
                                </p>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <p><strong>Phone:</strong> <a href="tel:+1 863-225-3846">+1 863-225-3846</a></p>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <p><strong>Email:</strong><a href="mailto:info@kevinsharp.net">info@kevinsharp.net</a></p>
                            </li>
                        </ul>
                    </section>
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four wow fadeIn">
                        <h3 class="light">Get Updates</h3>
                        <p>
                            Subscribe to my email newsletter to receive my updates and promotions.
                        </p>

                        <form method="post" action="http://kevinsharp.us11.list-manage.com/subscribe/post?u=4dce87108bdf13e10d1bd933f&amp;id=2eb4f9244f" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                            <div class="input-group">
                                <input name="EMAIL" type="email" value="your e-mail"
                                       onfocus="if (this.value == 'your e-mail') this.value = '';"
                                       onblur="if (this.value == '') this.value = 'your e-mail';"
                                       onkeyup="document.getElementById('newslettersubscribefooter').disabled = (this.value == '') || (this.value == 'your e-mail');"
                                       class="subscribe form-control" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_4dce87108bdf13e10d1bd933f_2eb4f9244f" tabindex="-1" value=""></div>
                                <span class="input-group-btn">
                                    <input class="btn subscribe-btn" type="submit" name="subscribe" id="newslettersubscribefooter" onclick="form.submit();" value="OK" disabled="disabled" />
                                </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <!-- /Footer Top -->
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                        <p class="credits">&copy; Copyright 2015 by <a href="https://www.linkedin.com/in/andrasfuchs">Andras Fuchs</a>. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                        <ul class="social social-icons-footer-bottom">
                            <li class="googleplus"><a href="https://plus.google.com/108707907055929830332" data-toggle="tooltip" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                            <li class="youtube"><a href="https://www.youtube.com/channel/UCAAWCWrFGRSBzoI9X-BlESQ" data-toggle="tooltip" title="YouTube"><i class="fa fa-youtube"></i></a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/in/andrasfuchs" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/andrasfuchs" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="stackoverflow"><a href="http://stackoverflow.com/users/980247/andras" data-toggle="tooltip" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a></li>
                            <li class="rss"><a href="#" data-toggle="tooltip" title="Rss"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Footer Bottom -->
        <!-- /Footer Bottom -->
    </div>
</footer>

