<!-- Header Top Bar -->
<div class="top-bar">
    <div class="slidedown collapse">
        <div class="container">
            <div class="pull-left">
                <ul class="social pull-left">
                    <li class="googleplus"><a href="https://plus.google.com/108707907055929830332"><i class="fa fa-google-plus"></i></a></li>
                    <li class="youtube"><a href="https://www.youtube.com/channel/UCAAWCWrFGRSBzoI9X-BlESQ"><i class="fa fa-youtube"></i></a></li>
                    <li class="linkedin"><a href="https://www.linkedin.com/in/andrasfuchs"><i class="fa fa-linkedin"></i></a></li>
                    <li class="twitter"><a href="https://twitter.com/andrasfuchs"><i class="fa fa-twitter"></i></a></li>
                    <li class="stackoverflow"><a href="http://stackoverflow.com/users/980247/andras"><i class="fa fa-stack-overflow"></i></a></li>
                    <li class="rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <form method="post" class="headertop" action="http://kevinsharp.us11.list-manage.com/subscribe/post?u=4dce87108bdf13e10d1bd933f&amp;id=2eb4f9244f" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                    <div class="input-group headertop">
                        <span class="headertop">GET UPDATES</span>
                        <input name="EMAIL" type="email" value="your e-mail" 
                               onfocus="if (this.value == 'your e-mail') this.value = '';" 
                               onblur="if (this.value == '') this.value = 'your e-mail';" 
                               onkeyup="document.getElementById('newslettersubscribetopbar').disabled = (this.value == '') || (this.value == 'your e-mail');" 
                               class="subscribe form-control headertop" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_4dce87108bdf13e10d1bd933f_2eb4f9244f" tabindex="-1" value=""></div>
                        <span class="input-group-btn">
                            <input class="btn subscribe-btn headertop" type="submit" name="subscribe" id="newslettersubscribetopbar" onclick="form.submit();" value="Subscribe" disabled="disabled" />
                        </span>
                    </div>
                    <!-- /input-group -->
                </form>
            </div>
            <div class="phone-login pull-right">
                <i class="fa fa-phone"></i> Call me: <a href="tel:+1 863-225-3846">+1 863-225-3846</a>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = Request.Url, Provider = "Google" }, FormMethod.Post, new { id = "logoutform" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" onclick="logoutform.submit();" id="logoutlink"><i class="fa fa-sign-out"></i> Logout</a>
                    }
                }
                else
                {
                    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Request.Url, Provider = "Google" }, FormMethod.Post, new { id = "loginform" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" onclick="loginform.submit();" id="loginlink"><i class="fa fa-sign-in"></i> Login</a>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- /Header Top Bar -->
