
@{
    ViewBag.Title = "One-on-One";
}

<div class="breadcrumb-wrapper">
    <div class="pattern-overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">@ViewBag.Title</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <div class="breadcrumbs pull-right">
                        <ul>
                            <li>You are now on:</li>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li>One-on-One</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="content margin-top140 margin-bottom100">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<!-- /Main Content -->
